<div class="col-xs-6 col-md-2 panel-column seccion">
  <%= link_to image_tag("logo.png", class:"logo"), root_path %>

  <% if current_user %>
    <%= render 'home/shared/user_box' %>
  <% else %>
    <%= render 'home/shared/login' %>
  <% end %>

  <div class="col-md-12 filtros">
    <%= render 'home/shared/filtros' %>
  </div>

  <footer>
    <p>WADÚ ® 2014</p>
  </footer>

</div>