<!-- PRIMERA COLUMNA -->
<div class="col-xs-6 col-md-2 panel-column seccion">
  <%= image_tag("logo.png", class:"logo") %>

<!-- REGISTRARSE -->
  <div class="col-md-12 registrarse">

    <div class="input-group">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-user"></span>
      </span>
      <input type="text" class="form-control" placeholder="E-mail de registro">
    </div>
    <div class="input-group">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-lock"></span>
      </span>
      <input type="text" class="form-control" placeholder="******">
    </div>

    <div class="cont-olvid">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <p>¿Olvidaste tu contraseña?</p>
    </div>
    <div class="fb"><%= image_tag("fb.png") %></div>
    <hr>
    <div class="nuevo-usuario">NUEVO USUARIO</div>

    <div class="ocultar">
      <p>- - - OCULTAR REGISTRO - - -</p>
    </div>
  </div>
<!-- FIN DE REGISTRARSE -->

<!-- REGISTRADO -->
  <div class="col-md-12 registrado">
    <div class="img-perfil">
    </div>
    <p class="nombre">Nombre1 Nombre2 Apellido1 Apellido2</p>
    <div class="row seguidores">
      <div class="col-md-6 col-xs-6">
        <p>Seguidores</p>
        <h4>100</h4>
      </div>
      <div class="col-md-6 col-xs-6">
        <p>Siguiendo</p>
        <h4>100</h4>
      </div>
    </div>
    <div class="crear-evento">
      CREAR EVENTO
    </div>
    <center><span class="glyphicon glyphicon-chevron-up"></span></center>
  </div>
<!-- FIN DE REGISTRADO -->

  <div class="col-md-12 filtros">
  
    <a class="mostrar">
      <span class="glyphicon glyphicon-star"></span>
      <p>SIGUIENDO</p>
    </a>
    <a class="mostrar">
      <span class="glyphicon glyphicon-thumbs-up"></span>
      <p>MÁS POPULAR</p>
    </a>
    <hr>

    <div class="filtrar boliches">
      <div class="switch">
        <input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round" type="checkbox">
        <label for="cmn-toggle-1"></label>
      </div>
      <span class="glyphicon glyphicon-star"></span>
      <p>BOLICHES</p>
    </div>
    <div class="filtrar bailes">
      <div class="switch">
        <input id="cmn-toggle-2" class="cmn-toggle cmn-toggle-round" type="checkbox">
        <label for="cmn-toggle-2"></label>
      </div>
      <span class="glyphicon glyphicon-star"></span>
      <p>BAILES</p>
    </div>
    <div class="filtrar cines">
      <div class="switch">
        <input id="cmn-toggle-3" class="cmn-toggle cmn-toggle-round" type="checkbox">
        <label for="cmn-toggle-3"></label>
      </div>
      <span class="glyphicon glyphicon-film"></span>
      <p>CINES</p>
    </div>
    <div class="filtrar cultural">
      <div class="switch">
        <input id="cmn-toggle-4" class="cmn-toggle cmn-toggle-round" type="checkbox">
        <label for="cmn-toggle-4"></label>
      </div>
      <span class="glyphicon glyphicon-star"></span>
      <p>CULTURAL</p>
    </div>
    <div class="filtrar deportes">
      <div class="switch">
        <input id="cmn-toggle-5" class="cmn-toggle cmn-toggle-round" type="checkbox">
        <label for="cmn-toggle-5"></label>
      </div>
      <span class="glyphicon glyphicon-globe"></span>
      <p>DEPORTES</p>
    </div>
    <div class="filtrar fiestas">
      <div class="switch">
        <input id="cmn-toggle-6" class="cmn-toggle cmn-toggle-round" type="checkbox">
        <label for="cmn-toggle-6"></label>
      </div>
      <span class="glyphicon glyphicon-star"></span>
      <p>FIESTAS</p>
    </div>
    <div class="filtrar musica">
      <div class="switch">
        <input id="cmn-toggle-7" class="cmn-toggle cmn-toggle-round" type="checkbox">
        <label for="cmn-toggle-7"></label>
      </div>
      <span class="glyphicon glyphicon-music"></span>
      <p>MÚSICA</p>
    </div>
    <div class="filtrar otros">
      <div class="switch">
        <input id="cmn-toggle-8" class="cmn-toggle cmn-toggle-round" type="checkbox">
        <label for="cmn-toggle-8"></label>
      </div>
      <span class="glyphicon glyphicon-star"></span>
      <p>OTROS</p>
    </div>

  </div>

  <footer>
    <p>WADÚ ® 2014</p>
  </footer>

</div>
<!-- FIN PRIMERA COLUMNA -->