
<!-- PRIMERA COLUMNA -->
      <div class="col-xs-6 col-md-2 columna1 seccion">
        <%= image_tag("logo.png", class:"logo") %>

      <!-- REGISTRARSE -->
        <div class="col-md-12 registrarse">

          <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-user"></span>
            </span>
            <input type="text" class="form-control" placeholder="E-mail de registro">
          </div>
          <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-lock"></span>
            </span>
            <input type="text" class="form-control" placeholder="******">
          </div>

          <div class="cont-olvid">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <p>¿Olvidaste tu contraseña?</p>
          </div>
          <div class="fb"><%= image_tag("fb.png") %></div>
          <hr>
          <div class="nuevo-usuario">NUEVO USUARIO</div>

          <div class="ocultar">
            <p>- - - OCULTAR REGISTRO - - -</p>
          </div>
        </div>
      <!-- FIN DE REGISTRARSE -->

      <!-- REGISTRADO -->
        <div class="col-md-12 registrado">
          <div class="img-perfil">
            <!-- <%= image_tag("perfil.jpg") %> -->
          </div>
          <p class="nombre">Nombre1 Nombre2 Apellido1 Apellido2</p>
          <div class="row seguidores">
            <div class="col-md-6 col-xs-6">
              <p>Seguidores</p>
              <h4>100</h4>
            </div>
            <div class="col-md-6 col-xs-6">
              <p>Siguiendo</p>
              <h4>100</h4>
            </div>
          </div>
          <div class="crear-evento">
            CREAR EVENTO
          </div>
          <center><span class="glyphicon glyphicon-chevron-up"></span></center>
        </div>
      <!-- FIN DE REGISTRADO -->

        <div class="col-md-12 filtros">
          <a>
            <span class="glyphicon glyphicon-star"></span>
            <p>SIGUIENDO</p>
          </a>
          <a>
            <span class="glyphicon glyphicon-thumbs-up"></span>
            <p>MÁS POPULAR</p>
          </a>
          <hr>

          <div class="filtrar">
            <div class="on-off"></div>
            <span class="glyphicon glyphicon-star"></span>
            <p>BOLICHES</p>
          </div>
          <div class="filtrar">
            <div class="on-off"></div>
            <span class="glyphicon glyphicon-star"></span>
            <p>BAILES</p>
          </div>
          <div class="filtrar">
            <div class="on-off"></div>
            <span class="glyphicon glyphicon-film"></span>
            <p>CINES</p>
          </div>
          <div class="filtrar">
            <div class="on-off"></div>
            <span class="glyphicon glyphicon-star"></span>
            <p>CULTURAL</p>
          </div>
          <div class="filtrar">
            <div class="on-off"></div>
            <span class="glyphicon glyphicon-star"></span>
            <p>DEPORTES</p>
          </div>
          <div class="filtrar">
            <div class="on-off"></div>
            <span class="glyphicon glyphicon-star"></span>
            <p>FIESTAS</p>
          </div>
          <div class="filtrar">
            <div class="on-off"></div>
            <span class="glyphicon glyphicon-music"></span>
            <p>MÚSICA</p>
          </div>
          <div class="filtrar">
            <div class="on-off"></div>
            <span class="glyphicon glyphicon-star"></span>
            <p>OTROS</p>
          </div>
        </div>

        <footer>
          <p>WADÚ ® 2014</p>
          <i class="fa fa-car"></i>
        </footer>
      </div>
<!-- FIN PRIMERA COLUMNA -->