

      <div class="col-xs-12 col-md-6 columna3 seccion">
        <div class="portada">
          <h1>NOMBRE DEL EVENTO</h1>
        </div>

        <div class="mesumo">
          <div class="megusta">
            <span class="glyphicon glyphicon-thumbs-up"></span>
            <p>500</p>
          </div>
          <div class="amigos"></div>
        </div>

        <div class="info">
          <div class="info-img"></div>

          <h1>Nombre del local</h1>

          <div class="seguir">
            <span class="glyphicon glyphicon-star"></span>
            <p>SEGUIR</p>
          </div>

          <div class="fecha-hora-lugar">
            <div class="row">
              <div class="col-md-4 col-xs-4 datos">
                <span class="glyphicon glyphicon-calendar"></span>
                  <div class="col-md-6 col-xs-6 desde-hasta">
                    <h3>DESDE</h3>
                    <p><b>21</b> JUL</p>
                  </div>
                  <div class="col-md-6 col-xs-6 desde-hasta">
                    <h3>HASTA</h3>
                    <p><b>22</b> JUL</p>
                  </div>
              </div>
              <div class="col-md-4 col-xs-4 datos">
                <span class="glyphicon glyphicon-time"></span>
                  <div class="col-md-6 col-xs-6 desde-hasta">
                    <h3>DESDE</h3>
                    <b>23:59</b>
                  </div>
                  <div class="col-md-6 col-xs-6 desde-hasta">
                    <h3>HASTA</h3>
                    <b>06:00</b>
                  </div>
              </div>
              <div class="col-md-4 col-xs-4 datos" style="border:none;">
                <div class="direccion">
                  <span class="glyphicon glyphicon-map-marker"></span>
                  <b>RIVADAVIA 544</b>
                  <p>San Miguel de Tucumán</p>
                </div>
              </div>
            </div>
          </div>

          <div class="texto">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras imperdiet nibh eget nulla mattis, in fringilla sem ullamcorper. Mauris in lobortis massa. In ipsum augue, dapibus vitae diam viverra, posuere adipiscing tortor. Aliquam erat volutpat. Etiam varius nulla eget bibendum dapibus. Pellentesque leo dui, aliquam sed fermentum non, mollis vel velit.</p> <p>Pellentesque vehicula blandit ornare. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque non sagittis libero. Donec tincidunt leo volutpat enim lobortis ultricies.</p>
          </div>
        </div>
      </div>
