<h1>Hello Wadú!!</h1>

<div ng-controller='eventsController as eventsCtrl'>
  <ul>
    <li ng-repeat='event in eventsCtrl.events' id="event_{{event.id}}">
      <h3>{{event.title}} <a href='#' ng-click='eventsCtrl.editEvent(event.id)'>Edit</a> - <a href='#' ng-click='eventsCtrl.deleteEvent(event.id)'>X</a></h3>
    </li>
  </ul>

  <form name='newEvent' ng-submit='eventsCtrl.addEvent()' ng-hide='eventsCtrl.editMode'>
    <label>Title:</label>
    <input ng-model='eventsCtrl.event.title' required>
    <br>
    <label>Description:</label>
    <textarea ng-model='eventsCtrl.event.description' required></textarea>
    <div>Dirección: {{eventsCtrl.event.direction}}</div>
    <input ng-model="eventsCtrl.event.direction" googleplace required/></input>
    <br>
    <input type='submit' value='Create Event' />
    <h2>Preview</h2>
    <h3>{{eventsCtrl.event.title}}</h3>
    <p>{{eventsCtrl.event.description}}</p>
  </form>

  <form name='editEvent' ng-submit='eventsCtrl.updateEvent(eventsCtrl.event.id)' ng-show='eventsCtrl.editMode'>
    <label>Title:</label>
    <input ng-model='eventsCtrl.event.title' required>
    <br>
    <label>Description:</label>
    <textarea ng-model='eventsCtrl.event.description' required></textarea>
    <br>
    <input type='submit' value='Update Event' />
  </form>
</div>
