<!--
<div ng-controller='eventsController as eventsCtrl'>
  <form name='newEvent' ng-submit='eventsCtrl.addEvent()' ng-hide='eventsCtrl.editMode'>
    <label>Title:</label>
    <input ng-model='eventsCtrl.event.title' required>
    <br>
    <label>Description:</label>
    <textarea ng-model='eventsCtrl.event.description' required></textarea>
    <div>Dirección:</div>
    <input id='geocomplete' required/></input>
    <input type='hidden' ng-model="eventsCtrl.event.direction" id='direction' required/></input>
    <input type='hidden' ng-model="eventsCtrl.event.lat" id='lat' required/></input>
    <input type='hidden' ng-model="eventsCtrl.event.lng" id='lng' required/></input>
    <br>
    <input type='submit' value='Create Event' />
    <h2>Preview</h2>
    <h3>{{eventsCtrl.event.title}}</h3>
    <p>{{eventsCtrl.event.description}}</p>
  </form>

  <form name='editEvent' ng-submit='eventsCtrl.updateEvent(eventsCtrl.event.id)' ng-show='eventsCtrl.editMode'>
    <label>Title:</label>
    <input ng-model='eventsCtrl.event.title' required>
    <br>
    <label>Description:</label>
    <textarea ng-model='eventsCtrl.event.description' required></textarea>
    <div>Dirección:</div>
    <input id='geocomplete' required/></input>
    <input type='hidden' ng-model="eventsCtrl.event.direction" id='direction' required/></input>
    <input type='hidden' ng-model="eventsCtrl.event.lat" id='lat' required/></input>
    <input type='hidden' ng-model="eventsCtrl.event.lng" id='lng' required/></input>
    <br>
    <input type='submit' value='Update Event' />
  </form>
</div>
 -->
  <%= render 'home/panel_column' %>
  <%= render 'home/events_column' %>
  <%#= render 'home/show_event_column' %>
  <%= render 'home/new_event_column' %>
  <div id='map'></div>