<a class="mostrar">
  <span class="glyphicon glyphicon-star"></span>
  <p>SIGUIENDO</p>
</a>
<a class="mostrar">
  <span class="glyphicon glyphicon-thumbs-up"></span>
  <p>MÁS POPULAR</p>
</a>

<hr>

<div class="filtrar boliches">
  <div class="switch">
    <input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round" type="checkbox">
    <label for="cmn-toggle-1"></label>
  </div>
  <span class="glyphicon glyphicon-star"></span>
  <p>BOLICHES</p>
</div>
<div class="filtrar bailes">
  <div class="switch">
    <input id="cmn-toggle-2" class="cmn-toggle cmn-toggle-round" type="checkbox">
    <label for="cmn-toggle-2"></label>
  </div>
  <span class="glyphicon glyphicon-star"></span>
  <p>BAILES</p>
</div>
<div class="filtrar cines">
  <div class="switch">
    <input id="cmn-toggle-3" class="cmn-toggle cmn-toggle-round" type="checkbox">
    <label for="cmn-toggle-3"></label>
  </div>
  <span class="glyphicon glyphicon-film"></span>
  <p>CINES</p>
</div>
<div class="filtrar cultural">
  <div class="switch">
    <input id="cmn-toggle-4" class="cmn-toggle cmn-toggle-round" type="checkbox">
    <label for="cmn-toggle-4"></label>
  </div>
  <span class="glyphicon glyphicon-star"></span>
  <p>CULTURAL</p>
</div>
<div class="filtrar deportes">
  <div class="switch">
    <input id="cmn-toggle-5" class="cmn-toggle cmn-toggle-round" type="checkbox">
    <label for="cmn-toggle-5"></label>
  </div>
  <span class="glyphicon glyphicon-globe"></span>
  <p>DEPORTES</p>
</div>
<div class="filtrar fiestas">
  <div class="switch">
    <input id="cmn-toggle-6" class="cmn-toggle cmn-toggle-round" type="checkbox">
    <label for="cmn-toggle-6"></label>
  </div>
  <span class="glyphicon glyphicon-star"></span>
  <p>FIESTAS</p>
</div>
<div class="filtrar musica">
  <div class="switch">
    <input id="cmn-toggle-7" class="cmn-toggle cmn-toggle-round" type="checkbox">
    <label for="cmn-toggle-7"></label>
  </div>
  <span class="glyphicon glyphicon-music"></span>
  <p>MÚSICA</p>
</div>
<div class="filtrar otros">
  <div class="switch">
    <input id="cmn-toggle-8" class="cmn-toggle cmn-toggle-round" type="checkbox">
    <label for="cmn-toggle-8"></label>
  </div>
  <span class="glyphicon glyphicon-star"></span>
  <p>OTROS</p>
</div>