// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map {
  position:absolute;
  top:0;
  bottom:0;
  right: 0;
  width: 80%;
}
#panel{ width: 20%; }