<!DOCTYPE html>
<html ng-app='waduApp'>
  <head>
    <title>Wadu</title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
    <%= javascript_include_tag "application" %></script>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  </head>
  <body>

    <div id='map'></div>
    <%= yield %>

    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.0.0/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.0.0/mapbox.css' rel='stylesheet' />
  </body>
</html>